openapi: 3.0.3

info:
  title: Wallet Microservice
  version: 3.1.0
  description: Wallet Microservice for Multi-channel Integration Layer of SW Client Project
  contact:
    name: Antonio Tarricone
    email: antonio.tarricone@pagopa.it

servers:
  - description: DEV
    url: https://mil-d-apim.azure-api.net/mil-wallet

security:
  - ApiKeyAuth: [ ]

paths:
  /cards:
    post:
      operationId: presaveExplicit
      summary: Pre-save the payment card in the internal Wallet
      parameters:
        - $ref: 'common.yaml#/components/parameters/RequestId'
        - $ref: 'common.yaml#/components/parameters/Version'
        - $ref: 'common.yaml#/components/parameters/AcquirerId'
        - $ref: 'common.yaml#/components/parameters/Channel'
        - $ref: 'common.yaml#/components/parameters/MerchantId'
        - $ref: 'common.yaml#/components/parameters/TerminalId'
        - $ref: 'common.yaml#/components/parameters/HeaderSessionId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                panToken:
                  $ref: 'common.yaml#/components/schemas/PanToken'
              required:
                - panToken
              example:
                panToken: "517a4216840E461fB011036A0fd134E1"
      responses:
        "204":
          description: Ack
        "400":
          $ref: 'common.yaml#/components/responses/Error'
        "401":
          description: API key is missing or invalid
        "403":
          description: Forbidden
        "406":
          description: Not acceptable. Did you require application/json?
        "415":
          description: Unsupported media type. Did you provide application/json?
        "429":
          description: Too many request
        "500":
          $ref: 'common.yaml#/components/responses/Error'
        default:
          description: Unexpected error

components:
  securitySchemes:
    ApiKeyAuth:
      $ref: 'common.yaml#/components/securitySchemes/ApiKeyAuth'