openapi: 3.0.3
info:
  title: Wallet Microservice
  description: Wallet Microservice for Multi-channel Integration Layer of SW Client
    Project
  contact:
    name: Antonio Tarricone
    email: antonio.tarricone@pagopa.it
  version: 3.1.0
servers:
- url: https://mil-d-apim.azure-api.net/mil-wallet
  description: DEV
security:
- ApiKeyAuth: []
paths:
  /cards:
    post:
      summary: Pre-save the payment card in the internal Wallet
      operationId: presaveExplicit
      parameters:
      - name: RequestId
        in: header
        description: Request Id that will be logged by services
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      - name: Version
        in: header
        description: Version of the required API
        required: false
        schema:
          maxLength: 64
          pattern: "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\\
            d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\\
            +([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$"
          type: string
          example: 1.0.0-alpha-a.b-c-somethinglong+build.1-aef.1-its-okay
      - name: AcquirerId
        in: header
        description: Acquirer ID assigned by PagoPA
        required: true
        schema:
          pattern: "^\\d{1,11}$"
          type: string
          example: "4585625"
      - name: Channel
        in: header
        description: Channel originating the request
        required: true
        schema:
          type: string
          example: ATM
          enum:
          - ATM
          - POS
          - TOTEM
          - CASH_REGISTER
          - CSA
      - name: MerchantId
        in: header
        description: Merchant ID. Mandatory when Channel equals POS.
        required: false
        schema:
          pattern: "^[0-9a-zA-Z]{1,15}$"
          type: string
          example: 28405fHfk73x88D
      - name: TerminalId
        in: header
        description: ID of the terminal originating the transaction. It must be unique
          per acquirer and channel.
        required: true
        schema:
          pattern: "^[0-9a-zA-Z]{1,8}$"
          type: string
          example: 0aB9wXyZ
      - name: id
        in: header
        description: Session ID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cards_body'
      responses:
        "204":
          description: Ack
        "400":
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        "401":
          description: API key is missing or invalid
        "403":
          description: Forbidden
        "406":
          description: Not acceptable. Did you require application/json?
        "415":
          description: Unsupported media type. Did you provide application/json?
        "429":
          description: Too many request
        "500":
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        default:
          description: Unexpected error
components:
  schemas:
    UUID:
      pattern: "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
      type: string
      description: UUID
      format: uuid
      example: d0d654e6-97da-4848-b568-99fedccb642b
    PanToken:
      pattern: "^[a-zA-Z0-9]{1,32}$"
      type: string
      description: The token of the PAN
      example: 517a4216840E461fB011036A0fd134E1
    Errors:
      required:
      - errors
      type: object
      properties:
        errors:
          maxItems: 32
          type: array
          items:
            $ref: '#/components/schemas/Error'
      additionalProperties: false
      description: List of errors
      example:
        errors:
        - 00000000A
        - "001000001"
    Error:
      pattern: "^[A-F0-9]{9}$"
      type: string
      description: Error code
      example: "001000005"
    cards_body:
      required:
      - panToken
      type: object
      properties:
        panToken:
          $ref: '#/components/schemas/PanToken'
      additionalProperties: false
      example:
        panToken: 517a4216840E461fB011036A0fd134E1
  responses:
    Error:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
  parameters:
    RequestId:
      name: RequestId
      in: header
      description: Request Id that will be logged by services
      required: true
      schema:
        $ref: '#/components/schemas/UUID'
    Version:
      name: Version
      in: header
      description: Version of the required API
      required: false
      schema:
        maxLength: 64
        pattern: "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\\
          d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\\
          +([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$"
        type: string
        example: 1.0.0-alpha-a.b-c-somethinglong+build.1-aef.1-its-okay
    AcquirerId:
      name: AcquirerId
      in: header
      description: Acquirer ID assigned by PagoPA
      required: true
      schema:
        pattern: "^\\d{1,11}$"
        type: string
        example: "4585625"
    Channel:
      name: Channel
      in: header
      description: Channel originating the request
      required: true
      schema:
        type: string
        example: ATM
        enum:
        - ATM
        - POS
        - TOTEM
        - CASH_REGISTER
        - CSA
    MerchantId:
      name: MerchantId
      in: header
      description: Merchant ID. Mandatory when Channel equals POS.
      required: false
      schema:
        pattern: "^[0-9a-zA-Z]{1,15}$"
        type: string
        example: 28405fHfk73x88D
    TerminalId:
      name: TerminalId
      in: header
      description: ID of the terminal originating the transaction. It must be unique
        per acquirer and channel.
      required: true
      schema:
        pattern: "^[0-9a-zA-Z]{1,8}$"
        type: string
        example: 0aB9wXyZ
    HeaderSessionId:
      name: id
      in: header
      description: Session ID
      required: true
      schema:
        $ref: '#/components/schemas/UUID'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      description: This API uses API key
      name: Ocp-Apim-Subscription-Key
      in: header
